/* Fuente más moderna */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.config-container {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 50%;  /* Ahora ocupa el 60% de la pantalla */
    text-align: center;
}

h1 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
}

h2 {
    font-size: 20px;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 15px;
}

.config-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

label {
    flex: 1;
    text-align: left;
    font-weight: 600;
    margin-right: -120px; /* Reduce la separación entre label y input */
}

input {
    flex: 2;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 60%;
    margin-right: 15px; /* Aumenta la separación entre el input y el botón */
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background 0.3s;
}

button:hover {
    background-color: #45a049;
}

/* Botón de volver */
.back-button {
    background-color: #007BFF;
    margin-top: 20px;
    padding: 10px 15px;
}

.back-button:hover {
    background-color: #0056b3;
}

/* Botón de borrar */
.delete-button {
    background-color: #d9534f;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

.delete-button:hover {
    background-color: #c9302c;
}