<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Barraca Pipe</title>
    <link rel="icon" href="{{ url_for('static', filename='icons/iso-stroke.png') }}" type="image/png">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/config.css') }}">
    <script src="{{ url_for('static', filename='js/config.js') }}" defer></script>
</head>
<body>

    <div class="config-container">
        <h1>Configuración</h1>

        <div class="config-item">
            <label for="proyecto-path">📂 Proyectos:</label>
            <input type="text" id="proyecto-path" readonly>
            <button onclick="seleccionarRuta('proyecto')">Seleccionar Carpeta</button>
        </div>

        <h2>Programas</h2>

        <div id="programas-container"></div>

        <button class="back-button" onclick="window.location.href='/'">Volver al Inicio</button>
    </div>

</body>
</html>